*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  background:linear-gradient(135deg,#cf9aff,#95c0ff);
  color: #fff;
  padding-top: 4%;
  padding-left: 5%;
}

.container h1{
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}
.container h1 img{
  width: 60px;
}

.container button img{
  width: 25px;
  margin-right: 8px;
}
.container button{
  display: flex;
  align-items: center;
  background: linear-gradient(#9418fd,#571094);
  color: #fff;
  font-size:16px;
  outline: 0;
  border: 0;
  border-radius: 40px;
  padding: 15px 25px;
  margin: 30px 0 20px;
  cursor: pointer;
}

.input-box{
  width: 100%;
  position: relative;
  min-height:150px;
  max-width: 500px;
  color: #333;
  padding: 20px;
  margin: 20px 0;
  outline: none;
  border-radius:8px ;
  background-color:white;
  /* display: none; */
  cursor: text;
}
.input-box:focus{
  outline: 2px solid #9418fd;
}

.input-box img{
  width: 25px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
.note-wrapper{
  display: flex;
  /* align-items: center; */
  width: 100%;
  max-width: 500px;
  flex-direction: row;
  /* border: 1px solid red; */
  /* min-width: 600px; */
  position: relative;
}
.btn-div{
  position: absolute;
  bottom: 1px;
  right: -70px;
}
.save-btn{
  width: 65px;
  padding: 6px 10px;
  border-radius: 20px;
  cursor: pointer;
  background: linear-gradient(#9418fd,#571094);
  color: #fff;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.notes-container{
  min-width: 500px;
}